<!DOCTYPE html>
<html>
    <head>
            <title>Customer Homepage</title>
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Products</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" type="text/css"  />
            <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>
            <link rel="stylesheet" href="./home.component.css">
            <!--<script src="main.js"></script> -->
            <link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" 
                rel="stylesheet" 
                integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                crossorigin="anonymous">    
    </head>

    <body>
         <!--     NAVBAR     -->
         <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Buy Stuffs</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="item-list.html">View Items</a>
              <a class="nav-item nav-link" href="#">Log Out</a>
            </div>
          </div>
        </nav>

       </div>
        <div class="container-fluid">
          <div class=row>
          <div class="col-sm-4"> <!-- Sets column os span 4-->
           <div class="card my-10" style="width:400px">
             <img class="card-img-top" src="assets/user.png" alt="Card image" style="width:100%">
             <div class="card-body">
               <h4 class="card-title">User</h4>
               <p class="card-text">user@123.com</p>
             </div>
          </div>
          </div>

          <div id="section" class="col-sm-8">
            <iframe width="1000px" height="750px" name="myframe">
            </iframe>
          </div>

    </body>
</html>